#BorderPane{
    -fx-background-image: url("background5.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
    //-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); Dit zie je toch niet.
}

#hubBanner{
}
#mainButton{
    -fx-text-align: center;
}

#mainButton2{
    
}

.button {
    -fx-padding: 5 22 5 22;   
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 16pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    //-fx-effect: innershadow(gaussian, white, 10, 0.1, 0, 0); 
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

#leftPanel, #resultatenTable, #teamTable, #spelerTable{
    -fx-background-color: whitesmoke;
    -fx-opacity:.95;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 12pt;
    -fx-text-fill: #d8d8d8;
}

#title{
    -fx-text-fill:whitesmoke;
    -fx-font-size:80pt;
    //-fx-effect: dropshadow(gaussian, black, 30, 0.5, 0, 0); 
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-background-color:#004680;
    -fx-opacity:.90;
}