#BorderPane{
    -fx-background-image: url("background5.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
    //-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); Dit zie je toch niet.
}
#AnchorPaneLoad{
    -fx-background-image: url("background8.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
    //-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); Dit zie je toch niet.
}

#hubBanner{
}
#mainButton{
    -fx-text-align: center;
}

#mainButton2{
    
}
.button {
    -fx-padding: 5 22 5 22;   
    -fx-background-color: #FEFEFE;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 16pt;
    -fx-text-fill: #080308;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-border-radius: 6;
    //-fx-effect: innershadow(gaussian, white, 10, 0.1, 0, 0); 
}

.button:hover {
    -fx-background-color: #080308;
    -fx-text-fill: #FEFEFE;

}
.mediaButton:hover {
    -fx-background-color: #69B9FF;
    -fx-text-fill: #FEFEFE;
    //-fx-effect: dropshadow(three-pass-box, black, 10, 0.1, 0, 0);
}

.button:active {
    -fx-background-color: #080308;
    -fx-text-fill: #FEFEFE;
}

.mediaButton:active {
    -fx-background-color: #49769E;
    -fx-text-fill: #FEFEFE;
}

#mediaPane {
    -fx-background-color:#1E2124;
    -fx-opacity:.8;
}

#mediaPane:hover{
    -fx-background-color:#1E2124;
    -fx-opacity:1;
}

#mediaBar {
    -fx-opacity:.5;
}

#mediaBar:hover {
    -fx-opacity:.8;
}



#leftPanel, #resultatenTable, #teamTable, #spelerTable, #marketPane, #verkoopPane, #mainOpstellingPane, #marketTable, #titlePane, #teamTable, #opstellingTable, #opstelTable, #historyTable, #sellTable{
    -fx-background-color: rgba(245,245,245,0.3);
    -fx-background-radius: 6;
    -fx-opacity:.8;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: #d8d8d8;
    -fx-border-radius: 6;
}

.generalAnchor {
    -fx-background-color: rgba(245,245,245,0.3);
    -fx-background-radius: 6;
    -fx-opacity:.8;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: #d8d8d8;
    -fx-border-radius: 6;
}

#title{
    -fx-text-fill:whitesmoke;
    -fx-font-size:80pt;
    //-fx-effect: dropshadow(gaussian, black, 30, 0.5, 0, 0); 
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    //-fx-background-color:#004680;
    -fx-background-color:black;
    -fx-opacity:.90;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-shape: " ";
}

.messages{
    -fx-background-color:black;
    -fx-opacity:.90;
    -fx-font-size:12pt;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

.text-area .content{
  -fx-background-color: black;
}
.text-area{
    -fx-text-fill:white;
}

.closeButton{
    -fx-background-color: #E35454;
    -fx-opacity:.90;
}

.red-bar    { -fx-accent: #990000;    }
.yellow-bar    { -fx-accent: #E6E600;    }
.blue-bar    { -fx-accent: #000099;    }

.speler { -fx-background-color:#E35454;}


.menuButton {
    -fx-background-color:transparent;
    -fx-text-fill:#FEFEFE;
    -fx-font-size:42pt;
    -fx-font-family: "Segoe UI Light";
    -fx-effect: dropshadow(three-pass-box, black, 30, .5, 0, 0);
}

.menuButton:hover {
    -fx-background-color:transparent;
    -fx-text-fill:#69B9FF;
    -fx-font-size:42pt;
    -fx-font-family: "Segoe UI Light";
    -fx-effect: dropshadow(three-pass-box, black, 50, .6, 0, 0);
}

#titleLabel {
    -fx-background-color:#1E2124;
    -fx-text-fill:#FEFEFE;
    -fx-font-size:85pt;
    -fx-opacity:.8;
    -fx-font-family: "Segoe UI Light";
    //-fx-effect: dropshadow(three-pass-box, black, 80, .8, 0, 0);
}
